<%= form_with(model: assemblies_part) do |form| %>
  <% if assemblies_part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assemblies_part.errors.count, "error") %> prohibited this assemblies_part from being saved:</h2>

      <ul>
        <% assemblies_part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :assembly_id, style: "display: block" %>
    <%= form.text_field :assembly_id %>
  </div>

  <div>
    <%= form.label :part_id, style: "display: block" %>
    <%= form.text_field :part_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
