<p style="color: green"><%= notice %></p>

<%= render @assemblies_part %>

<div>
  <%= link_to "Edit this assemblies part", edit_assemblies_part_path(@assemblies_part) %> |
  <%= link_to "Back to assemblies parts", assemblies_parts_path %>

  <%= button_to "Destroy this assemblies part", @assemblies_part, method: :delete %>
</div>
