<p style="color: green"><%= notice %></p>

<h1>Parts</h1>

<div id="parts">
  <% @parts.each do |part| %>
    <%= render part %>
    <b><%= "Supplier name: "%></b> <%= part.supplier.name %>
    <!--<b><%#= "Assembly name: "%></b> <%#= part.assembly.name %>-->
    <p>
      <%= link_to "Show this part", part %>
    </p>
  <% end %>
</div>

<%= link_to "New part", new_part_path %>
