<p style="color: green"><%= notice %></p>

<%= render @author %>

<h3>Author's books:</h3>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Published at</th>
    <th>ISBN</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.published_at %></td>
      <td><%= book.isbn %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>

<p>
  <strong>Number of published books:</strong>
  <%= @books.count %>
</p>

<br>



<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>

<%= link_to 'Generate report in pdf', author_path(@author, format: :pdf) %>