<p id="notice"><%= notice %></p>

<%= form_tag(books_path, method: :get) do %>
  <p> Filtrar por:
    <%= radio_button_tag 'search_type', 'book_title', true %>
    Title
    <%= radio_button_tag 'search_type', 'author_name' %>
    Author (name)
    <%= text_field_tag 'search', nil, placeholder: 'Digite o título ou autor do livro...' %>
    <%= submit_tag "Filtrar" %>
  </p>
<% end %>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <b><%= "Author name: "%></b> <%= book.author.name %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
